[submodule "projects/ahri-flask-snooze"]
	path = projects/ahri-flask-snooze
	url = https://github.com/ahri/flask-snooze.git
[submodule "projects/twilio-flask-restful"]
	path = projects/twilio-flask-restful
	url = https://github.com/twilio/flask-restful.git
[submodule "projects/flosch-simpleapi"]
	path = projects/flosch-simpleapi
	url = https://github.com/flosch/simpleapi.git
[submodule "projects/jfinkels-flask-restless"]
	path = projects/jfinkels-flask-restless
	url = https://github.com/jfinkels/flask-restless.git
[submodule "projects/hownowstephen-apy"]
	path = projects/hownowstephen-apy
	url = https://github.com/hownowstephen/apy.git
[submodule "projects/dontcare4free-flask-pushrod"]
	path = projects/dontcare4free-flask-pushrod
	url = https://github.com/dontcare4free/Flask-Pushrod.git
[submodule "projects/ib-lundgren-flask-oauthprovider"]
	path = projects/ib-lundgren-flask-oauthprovider
	url = https://github.com/ib-lundgren/flask-oauthprovider.git
[submodule "projects/martinblech-mimerender"]
	path = projects/martinblech-mimerender
	url = https://github.com/martinblech/mimerender.git
[submodule "projects/shazow-apiclient"]
	path = projects/shazow-apiclient
	url = https://github.com/shazow/apiclient.git
[submodule "projects/dstufft-slumber"]
	path = projects/dstufft-slumber
	url = https://github.com/dstufft/slumber.git
[submodule "projects/namlook-apibee"]
	path = projects/namlook-apibee
	url = https://github.com/namlook/apibee.git
[submodule "projects/scotch-aerest"]
	path = projects/scotch-aerest
	url = https://github.com/scotch/aerest.git
[submodule "projects/jacobb-nap"]
	path = projects/jacobb-nap
	url = https://github.com/jacobb/nap.git
[submodule "projects/mattupstate-flask-negotiate"]
	path = projects/mattupstate-flask-negotiate
	url = https://github.com/mattupstate/flask-negotiate.git
[submodule "projects/garybernhardt-prest"]
	path = projects/garybernhardt-prest
	url = https://github.com/garybernhardt/prest.git
[submodule "projects/hiidef-hiitrack-api"]
	path = projects/hiidef-hiitrack-api
	url = https://github.com/hiidef/hiitrack-api.git
[submodule "projects/becomingguru-python-restconsumer"]
	path = projects/becomingguru-python-restconsumer
	url = https://github.com/becomingGuru/python-restconsumer.git
